body {
    /* background-color:#85A9AB ; */
    font-size:100%;

}
.contenedor {
    max-height: 100%;
    background-color: #85A9AB;
    margin: 0 auto;
    overflow: hidden;
}
nav {
    background-color: #A7C8F2;
    float: left;
    width: 300px;
    list-style: lower-roman;
    border: solid 3px;
    padding: 3px;
}
.contenido {
    background-color: #A7C8F2;
    float: left;
    margin: 0 0 0 25 px;
    width: 620px;
    border: solid 3px;
    padding: 3px;
}
aside {
    background-color: #A7C8F2;
    float: right;
    width: 200px;
    border: solid 3px;
    padding: 3px;
}

    
