body {
        margin: 0;
        padding: 0;
        margin: 10px;
}

.izquierda {
        background-color:rgb(5, 34, 34);
        height: 150vh;
        width: 35%;
        color:whitesmoke;
}

.derecha {
        background-color:lightgrey;
        width: 65%;
        height: 150vh;
}

#pantalla-dividida {
        display: flex; 
}

h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        text-align: center;
        color:whitesmoke;
}

img {
        padding-left: 50px;
        padding-top: 40px;

}

p {
        font-family: Arial, Helvetica, sans-serif;
        
}

h3 {
       font-family: Arial, Helvetica, sans-serif; 
       text-align: center;
}

h4 {
       font-family: Arial, Helvetica, sans-serif; 
       
}

h5 {
        font-family: Arial, Helvetica, sans-serif;
}

ul {
        font-family: Arial, Helvetica, sans-serif;    
}

#resumen {
        width: 770px;
        background-color:darkseagreen;
        text-align: justify;
        margin: 25px;
        padding: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        border: 3px solid darkslategrey;
}

#alineacion-izq {
        margin: 25px;
        font-size: 18px;
}

#experiencia {
        padding-left: 60px;
}