body {
        margin: 0;
        padding: 0;
        margin: 10px;
}

.izquierda {
        background: #534b47;
        height: 150vh;
        width: 35%;
        color:whitesmoke;
}

.derecha {
        background: #1e130c;  /* fallback for old browsers */
        background: rgb(154,111,95);
        background: linear-gradient(90deg, rgba(154,111,95,1) 0%, rgba(208,187,164,1) 100%);
        width: 65%;
        height: 150vh;
}

#pantalla-dividida {
        display: flex; 
}

h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        text-align: center;
        color:rgb(8, 8, 8);
}

img {
        padding-left: 75px;
        padding-top: 40px;
        
}

p {
        font-family: Arial, Helvetica, sans-serif;
        
}

h3 {
       font-family: Arial, Helvetica, sans-serif; 
       text-align: center;
}

h4 {
       font-family: Arial, Helvetica, sans-serif; 
       
}

h5 {
        font-family: Arial, Helvetica, sans-serif;
}

ul {
        font-family: Arial, Helvetica, sans-serif;    
}

#resumen-experiencia {
        width: 770px;
        background: #d0bba4;
        text-align: justify;
        margin: 25px;
        padding: 20px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        border: 3px solid #534b47;
        box-shadow: 10px 5px 5px #534b47;
        column-count: 2;
        border-radius: 20px 0px;
}

#alineacion-izq {
        margin: 25px;
        font-size: 18px;
}

#experiencia {
        padding-left: 60px;
}

#caracteristicas-personales {
        width: 770px;
        background-color: #d0bba4;
        text-align: center;
        margin: 20px;
        padding: 20px;
        font-family: 'Times New Roman', Times, serif;
        border: 3px solid #534b47;
        box-shadow: 10px 5px 5px #534b47;
        border-radius: 20px 0px;
}