<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia ut ab voluptate enim. Voluptas beatae neque distinctio adipisci qui ducimus ab ipsa enim porro sapiente eum quas tenetur, ullam earum?</p>
  </body>
</html>
